
.hub {
    /* Aqui vai dividir a seção em duas partes igual*/
    padding-top: 100px; /* Esse padding move os elementos para baixo para não ficarem atrás da navbar */
    display: grid;
    grid-template-columns: 1fr 1fr;
}



.hub-info{
    margin-left: auto; /* Isso aq n entendi */
    margin-top: -630px; /* Como o ajuste ja foi feito em cima esse margin é desnecessário */
    justify-content: flex-end;
    align-items: flex-start;
    height: 100vh;
    

}
h1{
    text-align: center;
    font-size: 26px;
    padding: 30px;
}

p{
    text-align: justify;
    margin: -140px 20% 20%; /* Evita usar margin pra centralizar as coisas, usa display */
    font-size:20px;
    padding: 30px;
}


button {
    margin: 10px 370px 370px; /* Evita usar margin pra centralizar as coisas, usa display*/
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    font-weight: bold;
    width: 23%;
    background-color: var(--light-blue);
    color: black;
    border: none;
    cursor: pointer;
    box-shadow:0 0 10px #00000080;
    transition: all .3s ease-out;
    transition-property: all;
<<<<<<< Updated upstream
=======
    

    
>>>>>>> Stashed changes
}

button:hover {
    background-color: #0000003f;
    transition: all .3s ease-out;
    transition-property: all;
    transform: scale(1.0) translateY(-3px);
}

