
.hub {
    /* Aqui vai dividir a seção em duas partes igual*/
    padding-top: 100px; /* Esse padding move os elementos para baixo para não ficarem atrás da navbar */
    display: grid;
    grid-template-columns: 1fr 1fr;
}



.hub-info{

    justify-content: flex-end;
    align-items: flex-start;
    height: 100vh;
    

}
h1{
    text-align: center;
    font-size: 26px;
    padding: 70px;
}

p{
    text-align: justify;
    font-size:20px;
   padding: 0 100px;
}


button {
    margin: 20px 330px 370px; /* Evita usar margin pra centralizar as coisas, usa display*/
    margin-top: 70px;
    font-weight: bold;
    border-radius: 7px;
    display: inline-block;
    width: 30%;
    padding: 1.4%;
    background-color: var(--light-blue);
    border: none;
    cursor: pointer;
    box-shadow:0 0 10px #00000080;
    transition: all .3s ease-out;
    transition-property: all;
<<<<<<< Updated upstream
=======
    

    
>>>>>>> Stashed changes
}
button a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}
button:hover {
    background-color: #0000003f;
    transform: scale(1.0) translateY(-3px);
}

.img-kid{
    position: relative;
    top: -380px;
    left: 1150px;
}