@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

:root {
    --light-blue: #78B5CD;
    --dark-blue: #342E52;
    --black-txt: #232323;
    --white: #FFF9EC;

}
