@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gabarito, serif;
    text-decoration: none;
    color: #232323;
}

body {
    background-image: url('../images/children01.png');
    background-size: cover;
}

section {
    height: 100vh;
    background-color: #bcd3e8b0;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: #f2f2f2;
    padding: 50px;
    height: 700px;
    width: 1400px;
    box-shadow: 0 0 10px #00000080;
    border-radius: 10px;
}

.usertype-wrapper {
    display: flex;
}

main .usertype-wrapper > h1 {
    margin-left: 30px;
    font-size: 40px;
}

main .usertype-wrapper > a {
    transition: all 200ms ease-in-out;
}

main .usertype-wrapper > a:hover {
    scale: 1.05;
}

main > a img:hover {
    scale: 1.05;
}

.users-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
}


.users-box .user {
    background: #79C7FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 20px;
    padding: 30px;
    transition: all 300ms ease-in-out;
    border-radius: 10px;
}

.users-box .user:hover {
    scale: 1.01;
    box-shadow: 0 0 5px #00000080;
}

.users-box .user button {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #322A57;
    cursor: pointer;
    color: #f2f2f2;
    border: none;
    border-radius: 10px;
}


